<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Environment name="EncryptionTest1" value="${my.test.property.one}" override="false" type="java.lang.String"/>
    <Environment name="EncryptionTest2" value="${my.test.property.two}" override="false" type="java.lang.String"/>
    <Environment name="EncryptionTest3" value="${my.test.property.three}" override="false" type="java.lang.String"/>
    <Environment name="EncryptionTest4" value="${my.test.property.four}" override="false" type="java.lang.String"/>
    
    <Environment name="oraclePassword" value="${database.oracle.password}" override="false" type="java.lang.String"/>
	<Environment name="schedulerPassowrd" value="${database.schedule.password}" override="false" type="java.lang.String"/>
</Context>